# Ignore everything
*

# Do not ignore this .gitignore file itself
!.gitignore

# Do not ignore specific folders
!elementor-impact-calculator/
!elementor-price-calculator/
!sellers-net-sheet-calculator/

# Do not ignore everything inside those folders
!elementor-impact-calculator/**
!elementor-price-calculator/**
!sellers-net-sheet-calculator/**
